asgiref==3.2.7
autocorrect==1.1.0
click==7.1.2
cycler==0.10.0
dj-database-url==0.5.0
Django==3.0.7
dnspython==1.16.0
gunicorn==20.0.4
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
nlppreprocess==1.0.2
nltk==3.5
numpy==1.18.4
pandas==1.0.3
Pillow==7.1.2
psycopg2==2.8.5
PyArabic==0.6.7
pymongo==3.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
regex==2020.5.14
scikit-learn==0.23.0
scipy==1.4.1
six==1.14.0
sklearn==0.0
sqlparse==0.3.1
Tashaphyne==0.3.4.1
textblob==0.15.3
threadpoolctl==2.0.0
tqdm==4.46.0
whitenoise==5.0.1
